<div class="dashboard-container">
    <!-- Filtros superiores -->
    <div class="filtros-container">
      <label>
        Desde:
        <input type="date" [(ngModel)]="fechaDesde">
      </label>
      <label>
        Hasta:
        <input type="date" [(ngModel)]="fechaHasta">
      </label>
      <label>
        Turno:
        <select [(ngModel)]="turnoSeleccionado">
          <option value="">Todos</option>
          <option *ngFor="let turno of turnos" [value]="turno">{{ turno }}</option>
        </select>
      </label>
      <button (click)="aplicarFiltrosLocales()">Filtrar</button>
      <button (click)="quitarFiltros()">Quitar filtros</button>
    </div>
  
    <!-- Tarjetas con los gráficos -->
    <div class="graficos-container">
      <div class="card">
        <h3>METROS PERFORADOS - EQUIPO</h3>
        <app-grafico-barras [datos]="datosGraficobarrasapiladas"></app-grafico-barras>
      </div>

      <div class="card">
        <h3>METROS PERFORADOS - LABOR</h3>
        <app-barras-metro-perforados-labor [datos]="datosGraficobarrasapiladas"></app-barras-metro-perforados-labor>
      </div>
    
      <div class="card">
        <h3>LONGITUD DE PERFORACION</h3>
        <app-grafico-barras-metros-labor [datos]="datosGraficobarrasapiladas"></app-grafico-barras-metros-labor>
      </div>

      <div class="card">
        <h3>CANTIDAD DE TALADROS - EQUIPO</h3>
        <app-grafico-barras-agrupada [datos]="datosGraficobarrasagrupadas"></app-grafico-barras-agrupada>
      </div>
    
      <div class="card">
        <h3>CANTIDAD DE TALADROS - LABOR</h3>
        <app-grafico-barras-agrupada-num-labor [datos]="datosGraficobarrasagrupadas"></app-grafico-barras-agrupada-num-labor>
      </div>
    
      <div class="card">
        <h3>PROMEDIO DE TALADROS - SECCION</h3>
        <app-promedio-taladros [datos]="paraPromedioTaladrosSeccion"></app-promedio-taladros>
      </div>
    
      <!-- <div class="card">
        <h3>promedio de numero taladros por tipo de sección</h3>
        <app-prom-num-taladro-seccion [datos]="ParaPromediostaladrosnumtaladroSeccion"></app-prom-num-taladro-seccion>
      </div> -->
    
      <div class="card">
        <h3>PROMEDIO DE TALADROS - LABOR</h3>
        <app-prom-num-taladro-tipo-labor [datos]="ParaPromediosPromnumtaladrotipolabor"></app-prom-num-taladro-tipo-labor>
      </div>
    
      <div class="card">
        <h3>PROMEDIO DE METROS PERFORADOS - SECCION</h3>
        <app-prom-metros-perforados-seccion [datos]="ParaPromediostaladrosmetrosperforadosSeccion"></app-prom-metros-perforados-seccion>
      </div>
    
      <div class="card">
        <h3>DIFERECIA (INICIO Y FINAL ) DE HOROMETROS</h3>
        <app-grafico-horometros [datosHorometros]="datosHorometros"></app-grafico-horometros>
      </div>
    
      <div class="card">
        <h3>Tiempo por estado (suma de diferencias horarias)</h3>
        <app-grafico-estados [datos]="datosGraficoEstados"></app-grafico-estados>
      </div>
    </div>
    
  </div>
   