.usuarios-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    color: #3f51b5;
  }
  
  .usuarios-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px; /* Espaciado entre los botones */

  }
  
  mat-form-field {
    width: 300px;
  }
  
  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    margin-left: 10px;
  }
  
  mat-paginator {
    margin-top: 15px;
  }
  .operacion-chip {
  background-color: #e0e0e0;
  border-radius: 12px;
  padding: 2px 8px;
  margin-right: 4px;
  font-size: 13px;
  display: inline-block;
}
